/* TOC

All
    Header
    Fonts
    Border
    Navi
    Form
Phones
	Fonts
Others?
	Fonts
Large Devices
	Fonts
Desktop
	Fonts
*/

/*-----All viewports-----*/
    /*Header*/    
#title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

/*Fonts*/
*{
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align:left;
}

h1, h2, h3, h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: hsl(221, 97%, 62%);
}

hr + span{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h2{
    text-decoration: underline;
}

header, header nav, li + li.navi-item a, #title, .navi-item a{
    background-color: rgba(64, 123, 252, .9);
    color: rgb(255, 255, 255);
    max-width: 100%;
}

header nav{
    min-width: 50%;
    margin: auto;
}

footer{
    background-color: hsla(221, 97%, 62%, .9);
    color: rgb(255, 255, 255);
}

.navi > li:hover{
    color:#ddd;
}

a{
    color:hsla(221, 97%, 62%, .9);
}

a:active{
    color:hsla(221, 97%, 62%, 1.0);
}

/*Borders*/
code{
    border-color: #407bfc;
    border-left: solid;
    border-width: .5em;
    background-color:rgba(64, 123, 252, .75);
    padding: 2.5%;
}

button{
    border-style: solid;
    border-radius: 10%;
}

/*Navi*/
.navi{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 700px;
}

.navi-item{
    flex-basis: 150px;
}

/*Form*/
#contact-form{
    display: grid;
    grid-template-columns: 5% auto auto auto auto 5%;
    grid-template-rows: 2em 2em 4em 4em 4em 25em 10em 2em 2em;
}

.name-field{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.reason-field{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.month-field{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
}

.yr-field{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.gender-field{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}

.color-field{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
}

.msg-field{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
}

.attach-field{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
}

.phn-field{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 8;
}

.captcha-field{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 9;
}

.submit-field{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
}

.reset-field{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 10;
}

/*-----Phones (680-)-----*/
    
@media only screen and (max-width: 680px){
    /*Font*/
    h1{
        font-size: 20px;
    }

    h2, h3{
        font-size: 16px;
    }

    p, *{
        font-size: 1em;
    }

    li.navi-item{
        font-size: 12px;
        padding-top: .25em;
        padding-right: .5em ;
        padding-bottom: .25em;
        padding-left: .5em;
        margin: 1em 1.5em 1em 1.5em;
    }  
    
    div{
        width:100%;
    }
    
}
    
/*-----Others?? (681-1023)-----*/
    
@media only screen and (min-width: 680px){
    /*Font*/
    h1{
        font-size: 26px;
    }

    h2, h3{
        font-size: 20px;
    }

    p, *{
        font-size: 1em;
    }

    li.navi-item{
        font-size: 14px;
        padding-top: .25em;
        padding-right: .5em ;
        padding-bottom: .25em;
        padding-left: .5em;
        margin: 1em 1.5em 1em 1.5em;
    }        
}
    
/*-----Large laptops and Pads (1024-1919)-----*/
    
@media only screen and (min-width: 1024px){
    /*Font*/
    h1{
        font-size: 28px;
    }

    h2, h3{
        font-size: 26px;
    }

    p, *{
        font-size: 1em;
    }

    li.navi-item{
        font-size: 14px;
        margin-top: 1em;
        margin-right: 1.5em ;
        margin-bottom: 1em;
        margin-left: 1.5em;
        padding: .25em;
    }
    
}
    
/*-----Desktop (1920+)-----*/
    
@media only screen and (min-width: 1920px){
    /*Font*/
    h1{
        font-size: 32px;
    }

    h2, h3{
        font-size: 26px;
    }

    p, *{
        font-size: 1em;
    }

    li.navi-item{
        font-size: 16px;
        margin: 1em 1.5em 1em 1.5em;
        padding: .25em;
    }
}